<div id="footer">
    
        <div id='board_statistics' class='footerbar clearfix'>
            <div id="footer-wrap">
                <div class="footer-float">
                    <h2>HOME</h2>
                    <ul>
                        <li><a href="">News & Updates</a></li>
                        <li><a href="">Featured Artist</a></li>
                        <li><a href="">All Features</a></li>
                    </ul>
                </div>
                <div class="footer-float">
                    <h2>EXHIBITS</h2>
                    <ul>
                        <li><a href="">Latest Exhibit</a></li>
                        <li><a href="">Previous Exhibit</a></li>
                        <li><a href="">Show All Exhibits</a></li>
                    </ul>
                </div>
                <div class="footer-float">
                    <h2>FORUM</h2>
                    <ul>
                        <li><a href="">News</a></li>
                        <li><a href="">Resources</a></li>
                        <li><a href="">Tutorials</a></li>
                        <li><a href="">Brushs</a></li>
                    </ul>
                </div>
                <div class="footer-float">
                    <h2>ARTISTS</h2>
                    <ul>
                        <li><a href="">Our Crew</a></li>
                        <li><a href="">Portfolios</a></li>
                        <li><a href="">Interviews</a></li>
                        <li><a href="">Applications</a></li>
                    </ul>
                </div>
                <div class="footer-float">
                    <h2>OTHER</h2>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>				
            </div>
            <br><br><br><br><br><br><br><br><br><br><br>
            <div class="timezone">
                <span>WORLD CLOCK <img src="http://theluminarium.net/v4/forum/public/style_images/master/clock.png"></span>		
                <span><img src="http://theluminarium.net/v4/forum/public/style_images/master/flags/us.png">
                    <a href="http://24timezones.com/world_directory/current_san_francisco_time.php" style="text-decoration: none" target="_BLANK" title="San Francisco">San Francisco</a>  <span id="clock_SanFrancisco" class="blue bold"></span>
                </span> | <span><img src="http://theluminarium.net/v4/forum/public/style_images/master/flags/us.png">
                    <a href="http://24timezones.com/usa_time/ny_new_york/manhattan.htm" style="text-decoration: none" target="_BLANK" title="New York">New York</a>  <span id="clock_NewYork" class="blue bold"></span>
                </span> | <span><img src="http://theluminarium.net/v4/forum/public/style_images/master/flags/uk.png">
                    <a href="http://24timezones.com/world_directory/current_london_time.php" style="text-decoration: none" target="_BLANK" title="London">London</a>  <span id="clock_London" class="blue bold"></span>
                </span> | <span><img src="http://theluminarium.net/v4/forum/public/style_images/master/flags/am.png">
                    <a href="http://24timezones.com/world_directory/current_amsterdam_time.php" style="text-decoration: none" target="_BLANK" title="Amsterdam">Amsterdam</a>  <span id="clock_Amsterdam" class="blue bold"></span>
                </span> | <span><img src="http://theluminarium.net/v4/forum/public/style_images/master/flags/sing.png">
                    <a href="http://24timezones.com/world_directory/current_singapore_time.php" style="text-decoration: none" target="_BLANK" title="Singapore">Singapore</a>  <span id="clock_Singapore" class="blue bold"></span>
                </span> | <span><img src="http://theluminarium.net/v4/forum/public/style_images/master/flags/aus.png">
                    <a href="http://24timezones.com/world_directory/current_sydney_time.php" style="text-decoration: none" target="_BLANK" title="Sydney">Sydney</a>  <span id="clock_Sydney" class="blue bold"></span>
                </span>
            </div>
        </div>
        <div id="copyright">
            &copy; 2013 The Luminarium - All Rights Reserved
        </div>
    
</div>