{% extends 'base.html' %}

{% block content %}
    <h2>Welcome to the new Luminarium V4!</h2>
    <p>View our exhibits:</p>
    <ul id="exhibit-list"></ul>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $(function(){
            var exhibits = {{ exhibits }};
        
            updateHeader(exhibits[0]);
            listExhibits(exhibits);
        });
        
        function listExhibits(result){
            var list = $('#exhibit-list');
            result.exhibits.forEach(function(exhibit){
                $('<a>').attr('href','exhibit/' + exhibit.id).text(exhibit.title).appendTo(list).wrap('<li>');
            });
        }
    </script>
{% endblock %}