<!-- ::: TOP BAR: Sign in / register or user drop down and notification alerts ::: -->
<div id='header_bar'>
    <div class='width_right'>					
        <div id='user_navigation'>
            <ul id='corner_profile' class='ipsList_inline right2'>
                {% if user.is_logged_in %}
                    <li class="left_img">
                        <a href="http://theluminarium.net/v4/forum/index.php?showuser={{ user.id }}">
                            <img src="{{ user.thumbnail }}" />
                        </a>
                    </li>
                    <li>
                        <a class="register_link2" href="http://theluminarium.net/v4/forum/index.php?showuser={{ user.id }}">
                            {{ user.name }}
                        </a>
                    </li>
                    <li>
                        <a class="register_link2" id="signout-link" href="http://theluminarium.net/v4/forum/index.php?app=core&module=global&section=login&do=logout&k={{ user.k }}">
                            Sign Out
                        </a>
                    </li>
                    {% if user.is_admin %}
                        <ul class="ipsList_inline right" id="admin_bar">
                            <li>
                                <a class="register_link2" href="http://theluminarium.net/v4/forum/admin">
                                    Admin CP
                                </a>
                                <a class="register_link2" href="http://theluminarium.net/v4/forum/index.php?app=core&amp;module=modcp">
                                    Moderator CP
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                {% else %}
                    <li class="left_img">
                        <img src="{{ user.thumbnail }}" />
                    </li>
                    <li>
                        <a id="signin_link" class="register_link2" href="http://theluminarium.net/v4/forum/index.php?app=core&module=global&section=login">
                            Sign In
                        </a>
                    </li>
                    <li>
                        <a class="register_link2" href="http://theluminarium.net/v4/forum/index.php?app=core&module=global&section=register">
                            Create Account
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>	