body {
    position: relative;
    background-color: #000;
    color: #5A5A5A;
    font: 13px helvetica, Arial, sans-serif; 
}

h2, h3 {
    color: #FFF;
    font: 40px/48px 'Raleway', Arial, sans-serif;
    letter-spacing: 0;
}

h3 {
    font: 36px/44px 'Raleway', Arial, sans-serif;
    text-transform: uppercase;
}

a, a:visited, a:hover, a:focus {
    color: white;
    text-decoration: none;
}

a:hover, a:focus {
    color: #7BC1FF;
}

ol, ul {
    list-style: none;
}

ol.bullet, ul.bullet {
    list-style: disc;
}

blockquote {
    border-left: 5px solid #333;
}

span.superscript {
    position: relative;
    bottom: 0.5em;
    font-size: 0.7em;
}

div.navbar-inverse a.brand {
    color: #FFF;
    text-transform: uppercase;
}

span.bold {
    font-weight: bold;
}

span.blue {
    color: #71C8FF;
}

div.navbar {
    margin-bottom: 0;
}

#top-content {
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    position: relative;
    overflow:hidden;
    background: url("../img/stone_bg.jpg") center no-repeat;
}

#top-content div {
    z-index:2;
    position:relative;
}

#top-content img.bg {
    position: absolute;
    top: -98%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

#top-content h2 {
    text-shadow: #333 1px 2px;
}

.modal {
    z-index:1150; /* to make it display over the main logo with a z-index of 1100 */
    overflow-y:auto;
    max-height:90%;
}

#top-content div.container {
    z-index: 2;
}

#top-content div.container.bottom {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#bottom-content {
    background: black url('../img/footer_bg.jpg') no-repeat bottom center;
    margin-top: 2px;
}

#bottom-content div.container {
    padding-bottom: 150px;
    min-height: 250px;
}

#footer {
    min-height: 200px;
}

div.gallery {
    line-height: 0;
}

div.gallery a.thumb {
    position: relative;
    width: 285px;
    height: 175px;
    margin: 0;
    padding: 0;
    margin: 1px 1px 0px 0px;
    display: inline-block;
}

div.gallery a.thumb img {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

div.footerbar {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    overflow: hidden;
    background: black url('../img/stone_bg.jpg') no-repeat top center;
}

div.footerbar li {
    line-height: inherit;
}

#footer-wrap {
    width: 1110px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

div.footer-float {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;
    vertical-align: top;
}

div.footer-float h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    line-height: 1.3;
    color: white;
}

#footer-wrap > div.footer-float:last-of-type {
    margin-right: 0;
}

div.timezone {
    color: #777;
    margin: 20px 0;
}

div.timezone a {
    font-weight: bold;
}

#copyright {
    width: 100%;
    text-align: center;
    margin: 1em 0;
}